/*
  project daily report detail
*/
.section {
  width: 100%;
  background-color: white;
}

.bill-head {
  position: fixed;
  top: 50px;
  padding: 0 10px;

}

.bill-head .row {
  justify-content: flex-start; 
}

.bill-head .row.first {
	margin-top: 10px;
}

.bill-head .row.last {
	margin-bottom: 10px;
}

.bill-head .row > .label{
	width: 70px;
}

.bill-head .row > .value{
	width: calc(100% - 90px);
}

.bill-head .row.multi-line > .label, .bill-head .row.multi-line > .value{
	margin-top: 7px;
	margin-bottom: 7px;
}

.detail {
  margin-top: 60px;
}

.detail-item {
	margin-top: 10px;
}

.detail-item > .row {
	padding: 0 15px;

	width: calc(100% - 30px);
	height: 30px;
	line-height: 30px;
}

.detail-item > .row > .label {
  width: 70px;
}

.detail-item > .row > .value {
  font-weight: bold;
}

.detail-item > .row.company {
  color: #0454B2;
  font-weight: bold;
}
