/*
  project daily report detail
*/
.section {
  width: 100%;
  background-color: white;
}

.bill-head {
  position: fixed;
  top: 50px;
  padding: 0 10px;

}

.bill-head .row {
  justify-content: flex-start; 
}

.bill-head .row.first {
	margin-top: 10px;
}

.bill-head .row.last {
	margin-bottom: 10px;
}

.bill-head .row > .label{
	width: 70px;
}

.bill-head .row > .value{
	width: calc(100% - 90px);
}

.bill-head .row.multi-line > .label, .bill-head .row.multi-line > .value{
	margin-top: 7px;
	margin-bottom: 7px;
}

.bill-head .detail-head.row {
	margin-left: -10px;
	
	background-color: #ffe7e7;
}

.bill-head .detail-head.row > .label {
	margin-left: 10px;
}

.detail {
	margin-top: 260px;
	margin-bottom: 45px;
}

.detail-item {
	margin-top: 1px;
}

.detail-item > .row {
	padding: 0 15px;

	width: calc(100% - 30px);
	height: 30px;
	line-height: 30px;
}

.detail-item > .row > .label {
  width: 70px;
}

.detail-item > .row > .value {
  font-weight: normal;
}

.bottom-bar.section {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	
	width: 100%;
	height: 45px;
}

.bottom-bar.section > .bar.row {
	justify-content: space-between;

	width: calc(100% - 10px);
}

.bottom-bar.section  .left > .image {
	width: 45px;
	height: 45px;
}

.bottom-bar.section  .left > .image > img {
	width: 40px;
	height: auto;
}

.button {
	margin-left: 10px;
}