/*
  project daily report detail
*/
.section {
  width: 100%;
  background-color: white;
}

.bill-head {
  position: fixed;
  top: 50px;

  height: 50px;
  line-height: 50px;
}

.bill-head .row {
  justify-content: center; 
}

.bill-head .row .hyphen{
	padding: 0 10px;
}

.detail {
  margin-top: 60px;
}

.detail-item {
	margin-top: 10px;
}

.detail-item > .row {
	padding: 0 15px;

	width: calc(100% - 30px);
	height: 30px;
	line-height: 30px;
}

.detail-item > .row > .label {
  width: 70px;
}

.detail-item > .row > .value {
  font-weight: bold;
}

.detail-item > .row.company {
  color: #0454B2;
  font-weight: bold;
}
