/*
  my orders list
*/
@import '../../assets/styles/myOrder.css';

.form-body {
	top: 90px;
}

.section {
	padding: 0 15px;
	margin-top: 10px;

	width: calc(100% - 30px);
	background-color: white;
}

.content {
	margin-left: -15px; 
	padding: 0 15px;

	width: 100%;
}

.tabs.section {
	position: fixed;
	top: 50px;
	margin-top: 0;
	padding: 0;
	z-index: 10;
	
	width: 100%;
	height: 40px;
}

.tabs > .tab-bar.row {
	justify-content: space-between;
	height: 40px;	
}

.tabs > .tab-bar.row > .tab {
	width: 25%;
	height: 40px;	
}

.tabs > .tab-bar.row > .tab > .title {
	width: 80%;
	height: 40px;	
	line-height: 40px;	
	text-align: center;
}

.tabs > .tab-bar.row > .tab  {
	width: 80%;
	height: 40px;	
	line-height: 40px;	
	text-align: center;
}
