/*
  order trace information
*/

.section {
  width: 100%;
  background-color: white;
}

.head {
  position: fixed;
  top: 50px;
  padding: 0 10px;

}

.head .row {
  justify-content: flex-start; 
}

.head .row.first {
	margin-top: 10px;
}

.head .row.last {
	margin-bottom: 10px;
}

.head .row > .label{
	width: 70px;
}

.head .row > .value{
	width: calc(100% - 90px);
}

.detail {
	margin-top: 60px;
	margin-bottom: 0;
}

.detail-item.first {
	padding-top: 20px;
}

.detail-item > .row {
	margin: 0;
	padding: 0;
	
	width: 100%;
	min-height: 25px;
}

.detail-item > .row  > .image {
	width: 43px;
	
	overflow: hidden;
}

.detail-item > .row > .value{
	width: calc(100% - 43px - 10px);
}

.detail-item > .row  > .image {
	width: 43px;
	
	overflow: hidden;
}

.detail-item > .row.time > .image > img {
	width: auto;
	height: 25px;
}

.detail-item > .row.description.middle {
	background-image: url(../../assets/time-axis-line.png);
	background-repeat: repeat-y;
	background-position: 21px center;
	background-size: 1.5px;
}

.detail-item > .row.space {
	width: 100%;
	height: 22px;
}

.detail-item > .row.space.line {
	background-image: url(../../assets/time-axis-line.png);
	background-repeat: repeat-y;
	background-position: 21px center;
	background-size: 1.5px;
}

