/*
  order trace information
*/

.section {
  width: 100%;
  background-color: white;
}

.head {
  position: fixed;
  top: 50px;
  padding: 0 10px;

}

.head .row {
  justify-content: flex-start; 
}

.head .row.first {
	margin-top: 10px;
}

.head .row.last {
	margin-bottom: 10px;
}

.head .row > .label{
	width: 70px;
}

.head .row > .value{
	width: calc(100% - 90px);
}

/*
.detail {
	margin-top: 260px;
	margin-bottom: 45px;
}

.detail-item {
	margin-top: 1px;
}

.detail-item > .row {
	padding: 0 15px;

	width: calc(100% - 30px);
	height: 30px;
	line-height: 30px;
}

.detail-item > .row > .label {
  width: 70px;
}

.detail-item > .row > .value {
  font-weight: normal;
}

.bottom-bar.section {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	
	border-top: 1px solid #f3f3f3;
}
*/