/*
	主样式文件 
*/
div.button-bar {
  position: absolute;
  bottom: 0;

  background-color: #ebebeb;
  width: 100%;
  height: 50px;
  border-top: 1px solid #c8c8c8;

  overflow: hidden;
  justify-content: space-between;
}

div.button-bar div.tab {
  width: 24%;
  height: 50px;

  justify-content: flex-start;
}

div.button-bar div.tab:active {
  background-color: #c8c8c8;
}

div.button-bar div.tab div.image {
  margin-top: 8px;
  width: 100%;
  height: 20px;
}

div.button-bar div.tab div.image img {
  width: 20px;
  height: 20px;
}

div.button-bar div.tab div.text {
  margin-top: 2px;

  font-size: 8px;
}

div.button-bar div.tab.selected div.text {
  color: red !important;
}
