/*
	Home page样式 
*/
@import '../../assets/styles/myOrder.css';
@import '../../assets/styles/projectDailyReport.css';
@import '../../assets/styles/warning.css';

.home-page .label-value-margin {
	margin-left: 10px;
}

.home-page .image.top {
  width: 100%;  
}

.home-page .row.caption {
	height: 38px;
	line-height: 38px;

	justify-content: space-between;
 }

.home-page .row.caption .text{
  font-size: 14px;
  font-weight: bold;
}

.home-page .row.caption .more {
	height: 38px;
}

.home-page .row.caption .more .image {
	margin-left: 5px;
}

.home-page .row.caption .more .image img{
	width: 6px;
	height: 10px;
}

.home-page .caption-bottom-line {
	margin-left: -15px;
	width: calc(100% + 30px);
}

.home-page .content {
	margin-left: -15px;	
	padding: 0 15px;

	width: 100%;
}
