/*
	个人中心page样式 
*/
.section {
	margin-top: 10px;
}

.border-bottom {
	border-bottom: 1px solid #b7b7b7;
}

.home-page .image.top {
  width: 100%;  
  height: 100px;
  
  background-image: url(../../assets/me-head-bg.png);
}

.home-page .image.top .avatar {
	margin-left: 25px;
	
	width: 50px;
	height: 100px;
}

.home-page .image.top .avatar > img {
	width: 50px;
	height: 50px;
}

.home-page .image.top .login {
	margin-left: 15px;
	
	font-size: 15px;
}

.booking.section {
	height: 50px;
	
	background-color: transparent;
}

.booking.section > .row{
	margin-left: -15px;
	justify-content: space-between;
	
	width: calc(100% + 30px);
	height: 50px;
}

.booking.section > .row > .booking, .booking.section > .row > .my-booking {
	justify-content: center;
	
	width: calc(50% - 1px);
	height: 50px;
	line-height: 50px;
	background-color: white;
	
}

.booking.section > .row  .button-image {
	width: 35px;
	height: 50px;
}

.booking.section > .row  .button-image > img {
	width: 35px;
}

.booking.section > .row  .button-text {
	margin-left: 13px;
}

.orders.section > .row{
	justify-content: space-between;
}

.orders.section .orders-button{
	justify-content: flex-start;
	
	width: 70px;
	height: 85px;
}

.orders.section .image {
	margin-top: 12px;

	width: 70px;
	height: 40px;
}

.orders.section .image > img {
	width: 28px;
}

.orders.section  .all > .image > img {
	width: 23px;
}

.user-info.section {
	margin: 10px 10px 0 10px;
	padding: 0;

	width: calc(100% - 20px);
	border: 1px solid #C8C8C8;
	border-radius: 8px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
}

.user-info.section > .row{
	padding: 0 20px;
	width: calc(100% - 40px);
	min-height: 40px;
	line-height: 40px;
}

.user-info.section > .row > .inner-row {
	align-items: flex-start;
	min-height: auto;
}

.user-info.section > .row > .inner-row  > .label{
	width: 66px;
	height: 25px;
	line-height: 25px;	
}

.user-info.section > .row > .inner-row  > .value{
	width: calc(100% - 66px);
	min-height: 25px;
	line-height: 25px;	
}
