/*
	Home page通用样式 
*/
.home-page {
	position: absolute;
   	top: 50px;
  	bottom: 50px;
    padding-bottom: 20px;

	width: 100%;
  	background-color: #ebebeb;
  	overflow-x: hidden;
  	overflow-y: auto;
}

.section {
	padding: 0 15px;
	margin-top: 10px;

	width: calc(100% - 30px);
	background-color: white;
}
