/*
  My order
*/
.content > .orders-title {
	margin-top: 15px;
	justify-content: space-between;

	width: 100%;
	text-align: left;
}

.content > .orders-title .right .image.favour {
	margin-left: 5px;

	width: 15px;
	height: 15px;	
}

.content > .orders-schedule {
	height: 38px;
	line-height: 38px;	
	font-size: 18px;
}

.content > .orders-schedule .hyphen {
	margin-left: 15px;

	width: 28px;
	height: 2px;
}

.content > .orders-schedule .terminal {
	margin-left: 15px;
}

.content > .orders-info {
	margin-bottom: 10px;
	align-items: flex-start;
	
	width: 100%;
}

.content > .orders-info > div{
	height: 25px;
	line-height: 25px;
}

.content > .orders-info .label-value-margin {
	margin-left: 10px;
}